body {
    background-color: #235;
    color: white;
  }

hr {
    border-style: none;
    border-top-style: dashed;
    border-color: #ddd;
    border-width: 5px;
    width: 30%;
  }

img {
    border-radius: 6px;
  }

  h1 {
    color: #626a7a;
  }

  h3 {
    color: grey;
  }

h3 a {
  text-decoration: none;
  color: #f3c623;
}
