body {
    background-color: #84a9ac;
    color: white;
  }

hr {
    border-style: none;
    border-top-style: dashed;
    border-color: #ddd;
    border-width: 5px;
    width: 30%;
  }

img {
    border-radius: 6px;
  }

  h1 {
    color: #204051;
  }

  h3 {
    color: #3b6978;
  }

h3 a {
  text-decoration: none;
  color: #204051;
}
